* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.__my-nav-bar {
  padding: 20px 10px 20px 10px;
}

.__img-logo-container {
  height: 100%;
  min-width: 130px;
}

#img-logo {
  object-fit: contain;
  height: 130px;
}

.__main-my-container-fluid {
  height: 80vh;
  background-color: #7fffd4;
}

/* footer */
.__my-footer-div {
  background-color: #f8f9fa;
  padding: 20px 10px 20px 10px;
}
